.transacitonPage .header h1 {
  padding: 10px;
  font-size: 32px;

}

.transacitonPage .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #111;
  width: 165px;
}

.transacitonPage .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #79f;
  color: #111;
  border: 2px solid #111;
}

.transacitonPage .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  border: 2px solid #111;
  cursor: pointer;
}

.transacitonPage .transList {
  list-style: none;
  padding-left: 0;
  width: 440px;
}
.transacitonPage .transList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.transList {
  padding: 0;
}
